html {
    width: 1440px;
    height: 800px;

    margin: 0 auto;
}
body {
    background-color: hsl(212, 45%, 89%);
    height: 100%;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    margin: 0 auto;
    width: 250px;
    height: 400px;
    height: 100%;
}
.container img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.grid {
    background-color: white;
    border-radius: 18px;
    padding: 15px;
}
.text_container {
    padding: 15px 10px 10px 10px;
}
.text {
    font-family: "Outfit";
}
p {
    font-size: 15px;
}
.bold_text {
    font-weight: 700;
    font-size: 20px;
}
.regular_text {
    font-weight: 400;
    color: gray;
}
/* .attribution {
                font-size: 11px;
                text-align: center;
            }
            .attribution a {
                color: hsl(228, 45%, 44%);
            } */

@media (max-width: 375px) {
    html {
        width: 375px;
        height: 667px;
    }
    .body {
        text-align: start;
    }
    .container {
        justify-content: center;
    }
}
