.sr-only {
    content-visibility: hidden;
}

body {
    margin: 0;
    font-size: 0.9375rem; /* 15px */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 19rem;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 1em;
    border-radius: 1rem;
    transition: 0.2s;
}
.container:hover {
    box-shadow: 0em 0em 1em 0.1em rgba(0, 0, 0, 0.2);
}
.qrcode-image {
    max-width: 19rem;
    border-radius: 1rem;
}
p {
    margin: 0;
}
.text-container {
    padding: 0.5em;
}
.bold-text {
    font-weight: 700;
    padding: 0.5em 0.25em 0em 0.25em;
    font-size: 1.5625rem; /* 25px */
    color: hsl(218, 44%, 22%);
}
.regular-text {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 1em 1.5em 1em 1.5em;
}

.attribution-container {
    padding-top: 0.5rem;
}
.attribution {
    font-size: 0.7rem; /* 15px */
    text-align: center;
}
.attribution a {
    color: hsl(218, 44%, 22%);
    transition: 0.5s;
}

.attribution a:hover {
    color: red;
}
