.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: auto;
}

.qr-container {
    display: flex;
}
